<div class="flash_container">
  <% if alert %>
    <div class="alert alert-warning">
      <%= alert %>
    </div>
  <% end %>

  <% if notice %>
    <div class="alert alert-info">
      <%= notice %>
    </div>
  <% end %>
</div>
