@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: brown;
}

a:hover {
  text-decoration: none;
  color: whitesmoke;
}

.navbar {
  padding: 20px;
  background-color: lightsalmon;
}

.navbar h1 {
  color: aliceblue;
}

.navbar nav {
  margin-top: 10px;
  margin-left: 20px;
}

.main_container {
  margin: 20px;
}

.main_container h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.study_item_container {
  padding: 5px;
  padding-left: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.backlog_container {
  background: lightgrey;
}

.in_progress_container {
  background: lightblue;
}

.finished_container {
  background: lightgreen;
}

.cancelled_container {
  background: lightcoral;
}

.study_item {
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  border-radius: 10px;
}

.footer {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;

  color: gray;
}
