.navbar {
  display: flex;
  flex-direction: row;

  padding: 20px;
  background-color: lightsalmon;
}

.navbar h1 {
  color: aliceblue;
}

.navbar nav {
  display: flex;
  flex-direction: row;

  margin-top: 10px;
  margin-left: 30px;
}

.nav_item {
  margin-right: 20px;
  list-style: none;
}
